@{
    ViewBag.Title = "Meu Carrinho ";
}

<div class="container">
    <section id="my-cart">
        <h2 class="title-page">@ViewBag.Title</h2>

        <div id="cart-body-page">
            @Html.Partial("_Carrinho")
        </div>
    </section>
</div>