<!--<div id="qtdProdutoCarrinho"><p></p></div>

Produtos do carrinho
<div id="container-droppable">
    
    <h3>Seu carrinho</h3>
    <section class="produtos-carrinho">
        <img src="~/Content/Imagens/LogoHippo.jpg" salt="Logo" class="img-responsive" />
        <div class="desc-produtoCarrinho"><p>Game the witcher wind</p></div>
        <div class="qtd-produtoCarrihno"><p>Quantidade: 1x</p></div>
        <div class="preco-produtoCarrinho"><p>R$: 170,00</p></div>        
    </section>
    <hr />

    <div class="produto-footer">
        <div class="total-produtoCarrinho">Total <strong>R$: 170,00</strong></div>
        <button type="submit" class="btn btn-primary btn-block produto-fechar">fechar pedido</button>
        <a href="" class="produto-visualizar">ver meu carrinho</a>
    </div>
</div>-->