    <!-- First Container -->
<div class="container-fluid bg-1 text-center">
    <h3 class="margin">Quem somos nós?</h3>
    <img src="~/Content/Imagens/LogoHippo.jpg" salt="Logo" class="img-responsive img-circle" style="display:inline" width="200" height="200" />

    <h3 style="color:#BD0100;font-weight:bold;letter-spacing:3px;">Hippo Supermercados</h3>
</div>
<!-- Second Container -->
<div class="container-fluid text-center">
    <h3 class="margin">Tecnologia em Sistemas para Internet - 3° Semestre 2017</h3>
    <p>Projeto Integrador III - E-Commerce: Hippo Supermercados</p>

</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">
    <h3 class="margin">Equipe UrWay</h3><br>
    <div class="row">
        <div id="chars">

            <div class="col-sm-4">

                <img src="~/Content/Imagens/augusto.jpg" class="img-responsive img-circle" width="640" height="640" alt="Image">
                <h5>Augusto Araújo</h5>
            

            </div>
            <div class="col-sm-4">
                <img src="~/Content/Imagens/jeff.jpg" class="img-responsive img-circle" width="640" height="640" alt="Image">
                <h5>Jefferson Yuiti</h5>
              
            </div>
            <div class="col-sm-4">

                <img src="~/Content/Imagens/luiz.jpg" class="img-responsive img-circle" width="640" height="640" alt="Image">
                <h5>Luiz Guilherme</h5>
            
            </div>
        </div>

        <div id="chars2">
            <div class="col-sm-4">

                <img src="~/Content/Imagens/lincoln.jpg" class="img-responsive img-circle" width="640" height="640" alt="Image">
                <h5>Lincoln Frederico</h5>
               
            </div>

            <div class="col-sm-4">

                <img src="~/Content/Imagens/lais.jpg" class="img-responsive img-circle" width="640" height="640" alt="Image">
                <h5>Laís Lima</h5>
              
            </div>
        </div>
    </div>
</div>
