 <div class="row">
    <div class="col-md-6">
        <h4 style="color: rgb(102, 102, 102)">Boleto Bancário</h4>

        <p style="color: rgb(102, 102, 102)">Imprima o boleto e pague no banco</p>
        <p style="color: rgb(102, 102, 102)">ou pague pela internet utilizando o código de barras do boleto</p>
        <p style="color: rgb(102, 102, 102)">o prazo de validade do boleto é de 1 dia útil</p>
        <br />
       
        <div class="col-md-4" style="margin-left: -15px; color: red; font-size:20px; ">
            <span style="margin-top:2%;">Total:</span> <span class="cart-total-price-products">R$ <span class="price">0</span></span>
        </div>

        <div class="col-md-4">
            <input type="submit" class="btn btn-primary btn-block" style="color:#fff" value="Pagar com boleto" id="btnBoleto"/>        
        </div>
    </div>    
</div>